:root {
  --x: 0.5;
  --y: 0.5;
  --longhand: 0deg;
  --shorthand: 0deg;
}

.linklabel {
  font-family: monospace;
  font-size: 24px;
}

.topshelf {
  place-content: center;
  align-items: end;
}

.lefteye {
  cx: calc(43.522 + 4 * var(--x));
  cy: calc(101.44 + 5 * var(--y));
}

.righteye {
  cx: calc(69.747 + 4 * var(--x));
  cy: calc(101.05 + 5 * var(--y));
}

.longhand {
  transform: rotate(var(--longhand));
  transform-origin: 441.05px 121.05px;
}

.shorthand {
  transform: rotate(var(--shorthand));
  transform-origin: 441.05px 121.05px;
}

.comptext {
  z-index: 1;
  font-family: monospace;
  margin-top: -40vh;
  font-size: 2vh;
  color: aliceblue;
  text-align: start;
  width: 300px;
  margin-left: 40vw;
}
